@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #464646;
  font-family: var(--font-neue);
  background: #E4DDD6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 96px;
  font-weight: 350;
}

h3 {
  font-size: 32px;
  font-weight: 350;
}

h4 {
  font-size: 24px;
  font-weight: 350;
}

h5 {
  font-size: 16px;
  font-weight: 350;
}

h6 {
  font-size: 12px;
  font-weight: 350;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-marquee2 {
  animation: marquee2 25s linear infinite;
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.outline-button {
  @apply border-[1px] px-4 py-1 border-lfaWhite rounded-full hover:bg-charcoal-1000 hover:border-charcoal-1000
}

.outline-button-black {
  @apply border-[1px] px-4 py-1 border-charcoal-1000 rounded-full hover:bg-charcoal-1000 hover:border-charcoal-1000
}

.react-multi-carousel-list {
  padding: 0px 0px 40px;
}

.custom-dot-list-style button{
  border: none;
  background: #252525;
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: #252525 !important;
}

.checkbox:checked {
  background-color: #252525 !important; /* background color when selected */
}

